appdirs==1.4.4
asgiref==3.7.2
attrs==22.2.0
blinker==1.4
CacheControl==0.12.10
cachy==0.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
cleo==0.8.1
cliapp==1.20180812.1
click==8.1.3
clikit==0.6.2
cmdtest==0.32+git
colorama==0.4.6
command-not-found==0.3
crashtest==0.3.1
cryptography==3.4.8
dbus-python==1.2.18
diskcache==5.4.0
distlib==0.3.4
distro==1.7.0
distro-info===1.1build1
Django==4.0.10
filelock==3.6.0
glean-parser==6.1.1
glean-sdk==50.1.4
html5lib==1.1
httplib2==0.20.2
idna==3.3
importlib-metadata==4.6.4
jeepney==0.7.1
Jinja2==3.1.2
jsonschema==4.17.3
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
Markdown==3.3.6
MarkupSafe==2.0.1
mercurial==6.3.3
more-itertools==8.10.0
MozPhab==1.4.1
msgpack==1.0.3
netifaces==0.11.0
oauthlib==3.2.0
packaging==23.0
pastel==0.2.1
pathspec==0.11.0
pexpect==4.8.0
pkginfo==1.8.2
platformdirs==2.5.1
poetry-core==1.0.7
ptyprocess==0.7.0
pycparser==2.21
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.3.0
pylev==1.2.0
pyparsing==2.4.7
pyrsistent==0.19.3
python-apt==2.4.0
python-dateutil==2.8.1
python-hglib==2.6.2
PyYAML==5.4.1
requests==2.25.1
requests-toolbelt==0.9.1
SecretStorage==3.3.1
sentry-sdk==1.16.0
shellingham==1.4.0
six==1.16.0
sqlparse==0.4.4
systemd-python==234
tomlkit==0.9.2
ttystatus==0.38
typing_extensions==4.8.0
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.15
virtualenv==20.13.0+ds
wadllib==1.3.6
webencodings==0.5.1
xkit==0.0.0
yamllint==1.29.0
zipp==1.0.0
